{% extends "index.html" %}

{% block mid %}
<div class="m-20 space-y-12">
    <div class="border-b border-gray-900/10 pb-12">
        <div>
            <h2 class="mt-6 text-center text-3xl font-semibold leading-7 text-gray-900">{{info.nick}}</h2>
            <p class="mt-1 text-center text-sm leading-6 text-gray-600">{{info.about}}</p>
        </div>
        <div class="border-b border-gray-900/10 pb-12"></div>
        {% for post in posts %}
            <a href="/blog/post/{{post.idposts}}">
            <li class="flex justify-between gap-x-6 py-5">
            <div class="flex gap-x-4">
                <div class="min-w-0 flex-auto">
                    <p style="text-overflow: ellipsis" class="w-96 text-xl font-semibold leading-6 text-gray-900">{{post.title}}</p>
                    <p style="text-overflow: ellipsis" class="w-96 mt-1 truncate text-m leading-5 text-gray-500">{{post.content}}</p>
                </div>
            </div>
            <div class="hidden sm:flex sm:flex-col sm:items-end">
            <p class="mt-1 text-xs leading-5 text-gray-900">{{post.writer}}</p>
            </div>
        </li>
        </a>
        <div class="bg-gray-700 w-auto h-0"></div>
        {% endfor %}
    </div>
</div>
{% endblock %}